{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-8">
          <h1 style="text-align: center">Witamy w Dragon Dojo</h1>
          <p style="text-align: center" class="lead">Stronie internwewoej klubu wschodnich sztuk walki.</p>
      </div>
      <div class="col-sm-2">
          <img src="{{ asset('images/IKONA_P.jpg') }}" class="float-left">
      </div>
{% endblock %}