{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <img class="img-responsive" src="{{ asset('images/logo.jpg') }}">
        <
    </div>

{#
<div class="container">
   <div class="row">
        <div class="col-sm-2">
            <img src="https://www.iconfinder.com/data/icons/ching-zodiac/2118/zdragon-01.png" class="img-responsive">
        </div>

        <div class="col-sm-8">
            <h1 style="text-align: center">Witamy w Dragon Dojo</h1>
            <p style="text-align: center" class="lead">Stronie internwewoej klubu wschodnich sztuk walki.</p>
        </div>
        <div class="col-sm-2">
            <img src="https://www.iconfinder.com/data/icons/ching-zodiac/2118/zdragon-01.png" class="img-responsive">
        </div>


    </div>
 #}
{% endblock %}

